<h1>Admin</h1>

<p>
	Total 3 Side Pipes Shot: <%= pipes_with_sides(3) %><br/>
	Total 9 Side Pipes Shot: <%= pipes_with_sides(9)%>
</p>
<p>
	<% @pipes.each do |pipe| %>
		<% unless pipe.comments.blank? %>
		<h3><%= pipe.name %></h3>
		<p><%= pipe.comments %></p>
		<% end %>
	<% end %>
</p>