// Place all the styles related to the pipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$approved: #7cea6d;
body {
	background-color: #4b4b4b;
	color: #efefef;
}
a {
	text-decoration: none;
	color: #efefef;
}
#main-wrapper {
	width: 95%;
	margin: 1% 2%;
	overflow: hidden;
	text-align: center;
}
h1#logo a {
	font-family: 'pacifico';
	font-size: 50px;
	color: #9bc7c6;
}
.flex-wrap {
	float: left;
	padding: .5%;
	a {
		color: #9bc7c6;
	}
}
.img-review {
	border: 1px solid #efefef;
	max-width: 100%;
}
form.new_pipe, form.edit_pipe {
	width: 80%px;
	margin: 0 auto;
	p {
		float: left;
		width: 50%;
	}
	input {
		padding: 1%;
	  width: 50%;
	  border: 1px solid #efefef;
	  height: 35px;
	}
	label {
		margin: auto 3%;
	}
}
.comment-form {
	text-align: left;
	font-size: 80%;
	display: block;
	textarea {
		background-color: #2f2f2f;
		color: #efefef;
		padding: 7px;
		width: 70%;
		border: none;
		-webkit-border-radius: 5px 0 0 5px;
		-moz-border-radius: 5px 0 0 5px;
		border-radius: 5px 0 0 5px;
		height: 72px;
	}
	input {
		width: 74px;
		height: 86px;
		font-size: 85%;
		background-color: #848484;
		border: none;
		-webkit-border-radius: 0 5px 5px 0;
		-moz-border-radius: 0 5px 5px 0;
		border-radius: 0 5px 5px 0;
	}
}

a.toggle, a.comment-link {
	color: #afafaf;
}
a.approved {
	color: $approved;
}
.flexslider.true {
	border-bottom: 6px solid $approved;
}
.flexslider.false {
	border-bottom: 6px solid white;
}
.flash {
	text-align: center;
}
#errors {
	width: 350px;
	margin: 0 auto;
	ul {
		padding-left: 45px;
	}
	li {
		color: red;
		list-style: none;
		text-align: left;
	}
}

@font-face {
	font-family: 'pacifico';
	src:url('pacifico-webfont.eot');
	src:url('pacifico-webfont.eot?#iefix') format('embedded-opentype'),
		url('pacifico-webfont.woff') format('woff'),
		url('pacifico-webfont.ttf') format('truetype'),
		url('pacifico-webfont.svg#pacifico-webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media only screen and (max-width: 500px) {
	h1#logo a {
		font-size: 36px;
	}
	h1 {
		font-size: 20px;
	}
	form.new_pipe, form.edit_pipe {
		p {
			width: 100%;
		}
	}
}
